import os.path

# ATTILA_PATH = "/home/tom/projects/babel_data/VT-2-5-babel"
# BABEL_DATA = "/home/tom/projects/babel_data"
# IBM_MODELS = "/home/tom/projects/babel_data"
# OUTPUT_PATH = "/home/tom/asr_output"

# LANGUAGES = {
#     "tagalog" : {
#         "limited" : {
#             "data" : os.path.join(BABEL_DATA, "106-Delivery-Tagalog-v0.2g"),
#             "models" : os.path.join(IBM_MODELS, "106", "LLP"),
#             "locale" : "tl_PH.utf8",
#             "babelgum" : {
#                 "basic" : ("data/tagalog-llp-basic-probabilities.gz", "data/tagalog-llp-basic-pronunciations.gz"),
#                 }
#             }
#         }
#     }
