import os.path

#BASE_PATH = "/home/tom/projects/babel_data"

#SEQUITUR_PATH = "/home/tom/local"

#ADD_WORDS = "/home/tom/local/bin/add_words"

# EXPERIMENTS = {
#    "tagalog" : {
#        "DATA_PATH" : os.path.join(BASE_PATH, "106-Delivery-Tagalog-v0.2g"),
#        "IBM_PATH" : os.path.join(BASE_PATH, "Tagalog/decode"),
#        "DATABASE" : "db.dev.auto.128-256-0.2",
#        },
#    }
